<!-- The script below is used for show password -->
<!-- <script>
    $('#img').on('click', function(){
        if('password' == $('#pwd').attr('type')){
            $('#pwd').attr('type', 'text');
        }else{
            $('#pwd').attr('type', 'password');
        }
    });

</script> -->
<!-- Password show ends -->
<footer>
    <!-- <div class="footer"><h3> <script> document.write(new Date().getFullYear()) </script> Node Project traversy media Brad as a guide</h3></div> -->
</footer>
</body>
</html>