<%- include('partials/header') %> 
    <div class="container">
        <%- include('partials/navBar') %>
        <!-- Another partail templating -->
        <div class="main">
            <div>
                <section>
                    <div class="note">
                    <h3>About me</h3>
                    </div>
                    <div>
                    <h3>I am an upcoming full stack web developer who is ready and willing to learn more</h3>
                    <h4>I am proficient in PHP, Node JS, JavaScript, Jquery, HTML5, CSS3, JAVA, Codeigniter, Laravel, MYSQL, BOOTSTRAP, AJAX etc</h4>
                    </div>
                </section>
            </div>
            <div>
                <h5>Note this is a NODE Javascript project and not a CSS and design project</h5>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>