<%- include('partials/header') %> 
    <div class="container">
        <%- include('partials/navBar') %>
        <!-- Another partail templating -->
        <div class="main">
            <div>
                <section>
                    <div class="note">
                    <h3>You can easily contact me</h3>
                    </div>
                    <div>
                        <h5>Github @Joshuauzor</h5>
                        <h5>Facebook @Joshua uzor</h5>
                        <h5>Instagram @Joshuauzor_</h5>
                        <h5>Twitter @Joshuauzor_</h5>
                    </div>
                </section>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>